/* 
    style the ui of the form
    written by: Henkho Dryza    
*/


/* Reset browser default */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*, *::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #0D0D0D;
    --secondary-color: #242426;
    --white-color: white;
    --accent-1: #4A90E2;
    --gry-color: #2A2A2C;
    --erro-color: #FF516D;
    --success-color: #02D57C;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 4rem 1rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}
.form {
    width: 100%;
    max-width: 35rem;
    background-color: var(--secondary-color);
    margin: 0 auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    position: relative;
}
.bg-svg{
    position: absolute;
    z-index: -1;
    opacity: .5;
}
.bg-svg.svg-2 {
    bottom: -5rem;
    left: -10rem;
}
.bg-svg.svg-1 {
    right: -10rem;
    top: -5rem;
}
.form h2 {
    font-weight: 100;
    font-size: 1.5rem;
    opacity: .875;
    text-align: center;
    padding-bottom: 2em;
    
}
.form-control {
    margin-bottom: 1em;
    display: block;
}

/* Checkbox control */
.checkbox-control {
    padding: 1rem;
    background-color: var(--gry-color);
    border-radius: 5px;
    margin-bottom: .5rem;
}
.checkbox-control p {
    color: rgba(255, 255, 255, .5);
    font-size: .875rem;
    font-weight: 100;
    padding-left: 1.9em;
}
.checkbox-control input[type=checkbox]{
    visibility: hidden;
    /* display: none; */
}
.checkbox-control label{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    transition: color .3s ease;
}
.checkbox-control label.checked {
    color: var(--white-color);
}
.checkbox-control label span{
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: .5em;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    transition: background-color .3s ease;
    order: -1;
}
.checkbox-control label span::after {
    display: block;
    content: "\2713";
    height: 1.25rem;
    width: 1.25rem;
    text-align: center;
    padding-bottom: .1em;
    transform: translate(-1px, -2px);
    color: var(--primary-color);
    display: none;
    transition: background-color .3s ease;
}
.checkbox-control label input:checked ~ span {
    background-color: var(--white-color);
}
.checkbox-control label input:checked ~ span::after {
    display: block;
}

small {
    visibility: hidden;
    color: var(--erro-color);
    opacity: .75;
    padding: .5em .5em .5em .875em;
    font-size: .875rem;
    font-weight: 100;
}
.form-control input {
    font-family: inherit;
    font-weight: 100;
    display: inline-block;
    padding: .875em;
    width: 100%;
    border: 1px solid transparent;
    background-color: var(--gry-color);
    color: rgba(255, 255, 255, .5);
    font-size: .875rem;
    border-radius: 5px;
    transition: all .3s ease;
}
.form-control.error input{ border-color: var(--erro-color) }
.form-control.success input { border-color: var(--success-color);}
.form-control.error small {
    visibility: visible;
}
.form-control input:focus {
    border-color: var(--accent-1);
}
button {
    display: block;
    width: 100%;
    padding: .875em;
    color: rgba(255, 255, 255, .9);
    font-size: 1rem;
    font-weight: 100;
    font-family: inherit;
    background: none;
    border: 2px solid rgba(255, 255, 255, .75);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover {
    background-color: var(--gry-color);
    border-color: var(--accent-1);
}